<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/Song_icon.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{ title }}</h1> --}}
        <img class="portrait" src="/img/Song image1.jpg">
        <p>Created by : {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>